*.o
*.obj
*.res
*.tds
*.map
ipch
Debug
Release
x64
.vs
*.sdf
*.suo
*.opensdf
*.user
*.filters
*.idb
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
build
*.dir
*.ncb
*.sln
*.vcproj
*.vcxproj
*.exe
stdafx.h.gch
install_manifest.txt
*.autosave
*~
a.*
Testing
